{% if site.analytics.provider and page.analytics != false %}

{% case site.analytics.provider %}
{% when "google" %}
  {% include /analytics-providers/google.html %}
{% when "google-universal" %}
  {% include /analytics-providers/google-universal.html %}
{% when "google-analytics-4" %}
  {% include /analytics-providers/google-analytics-4.html %}
{% when "clarity" %}
  {% include /analytics-providers/clarity.html %}
{% when "custom" %}
  {% include /analytics-providers/custom.html %}

    <!-- 同时加载GA和Clarity -->
{% when "google-analytics-4,clarity" %}
  {% include analytics-providers/google-analytics-4.html %}
  {% include analytics-providers/clarity.html %}
{% endcase %}
{% endif %}